<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
        <!-- Sample redis togo  -->
        <!-- redis://user:password@server:port/ -->
        
        <!-- Fill in your redis information below --> 
        <add key="redis.server" value="127.0.0.1" />
        <add key="redis.port" value="6379" />
        <add key="redis.password" value="" />
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
